@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?mdi3p4');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?mdi3p4#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?mdi3p4') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?mdi3p4') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?mdi3p4##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left-bold {
  &:before {
    content: $icon-arrow-left-bold; 
  }
}
.icon-menu-search {
  &:before {
    content: $icon-menu-search; 
  }
}
.icon-user {
  &:before {
    content: $icon-user; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-mail {
  &:before {
    content: $icon-mail; 
  }
}
.icon-close {
  &:before {
    content: $icon-close; 
  }
}
.icon-arrow-right-tail {
  &:before {
    content: $icon-arrow-right-tail; 
  }
}

