$icomoon-font-family: "icon" !default;
$icomoon-font-path: "/fonts/font-icon" !default;

$icon-arrow-left-bold: unquote('"\\e943"');
$icon-menu-search: unquote('"\\e93b"');
$icon-user: unquote('"\\e940"');
$icon-search: unquote('"\\e902"');
$icon-mail: unquote('"\\e905"');
$icon-close: unquote('"\\e908"');
$icon-arrow-right-tail: unquote('"\\e936"');

