@font-face {
    font-family: 'Prompt';
    src: url('/fonts/Prompt-Light.eot');
    src: url('/fonts/Prompt-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Prompt-Light.woff2') format('woff2'),
        url('/fonts/Prompt-Light.woff') format('woff'),
        url('/fonts/Prompt-Light.ttf') format('truetype'),
        url('/fonts/Prompt-Light.svg#Prompt-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt';
    src: url('/fonts/Prompt-Medium.eot');
    src: url('/fonts/Prompt-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Prompt-Medium.woff2') format('woff2'),
        url('/fonts/Prompt-Medium.woff') format('woff'),
        url('/fonts/Prompt-Medium.ttf') format('truetype'),
        url('/fonts/Prompt-Medium.svg#Prompt-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt';
    src: url('/fonts/Prompt-Bold.eot');
    src: url('/fonts/Prompt-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Prompt-Bold.woff2') format('woff2'),
        url('/fonts/Prompt-Bold.woff') format('woff'),
        url('/fonts/Prompt-Bold.ttf') format('truetype'),
        url('/fonts/Prompt-Bold.svg#Prompt-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prompt';
    src: url('/fonts/Prompt-Regular.eot');
    src: url('/fonts/Prompt-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Prompt-Regular.woff2') format('woff2'),
        url('/fonts/Prompt-Regular.woff') format('woff'),
        url('/fonts/Prompt-Regular.ttf') format('truetype'),
        url('/fonts/Prompt-Regular.svg#Prompt-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

