/* components/RealEstateCard.module.scss */
@use "core/_font-family" as font;

.card {
    width: 300px;
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    @include font.font-reg;
    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 10px 28px rgba(0, 0, 0, 0.18);
    }
}

.imageWrapper {
    position: relative;

    img {
        width: 100%;
        height: 180px;
        object-fit: cover;
    }
}

.likeBtn {
    position: absolute;
    top: 10px;
    right: 10px;

    background: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 20px;
    padding: 6px 10px;
    cursor: pointer;
    font-size: 14px;

    display: flex;
    align-items: center;
    gap: 4px;

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.15s ease;

    &:hover {
        transform: scale(1.05);
    }
    &.disable{
        opacity: .5;
        pointer-events: none;
    }
}

.active {
    background: #ffe4e6;
    color: #e11d48;
}

.content {
    padding: 14px;
}

.title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px;
}

.location {
    font-size: 13px;
    color: #666;
}

.price {
    margin-top: 8px;
    font-size: 18px;
    font-weight: bold;
    color: #2563eb;
}