/* components/Dropdown.module.scss */
@use "core/_font-family" as font;
.dropdown {
  position: relative;
  width: 560px;
  font-family: sans-serif;
  @include font.font-reg;
}

.trigger {
  width: 100%;
  padding: 10px 14px;
  background: #ffffff;
  border: 1px solid #d0d0d0;
  border-radius: 6px;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    border-color: #999;
  }
}

.arrow {
  font-size: 12px;
}

.menu {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  right: 0;
  background: #ffffff;
  border: 1px solid #d0d0d0;
  border-radius: 6px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  z-index: 100;
}

.item {
  padding: 10px 14px;
  cursor: pointer;

  &:hover {
    background: #f5f5f5;
  }

  &:not(:last-child) {
    border-bottom: 1px solid #eee;
  }
}

.label{
    @include font.font-reg;
}