@use "core/_font-family" as font;

.main_home_banner{
    // background-color: #000; 
    display: flex;  
    align-self: center;
    width: 100%;
    height: 400px;
    .banner_card{
        height: 100%;
        width: 100%;
        background-color: var(--bgCard);
        .title{
            @include font.font-med;
        }
    }
}