.main{
    padding: 40px;
    .inner{
        width: fit-content;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        .button_wrapper{
            margin-top: 20px;
        }
    }
}