.main{
    padding: 40px;
    .inner{
        width: fit-content;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        .button_wrapper{
            margin-top: 20px;
        }
    }
    .loading{
        padding: 50px;
        margin: auto;
    }
    .card_wrapper{
        padding-top: 20px;
        display: flex;
        flex-wrap: wrap;
        max-width: 1280px;
        justify-content: center;
        margin: auto;
        gap: 26.67px;
    }
}